Django>=4.2,<5.0
djangorestframework>=3.14
django-cors-headers>=4.0

channels>=4.0
channels_redis>=4.1
daphne>=4.0.0
gunicorn>=21.2.0

transformers==4.39.3
tokenizers==0.15.2
safetensors>=0.4.1

numpy==1.26.4

torch==2.2.2

vosk==0.3.45

ffmpeg-python>=0.2.0
soundfile>=0.12.1
pydub>=0.25.1

requests>=2.31